.navbar-default {
    border-radius: 10px;
    background-image: linear-gradient(to top left, white, #5bc0de); 	
    border-color: transparent;   
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: red;
    background: transparent;
    outline: none;

}

.navbar-default .navbar-toggle { border-color: green; }

.navbar-default .navbar-nav .open .dropdown-menu {
    background-image: linear-gradient(to top left, white, lightgreen);
}

header { 
    border-radius: 10px;  
    background-image: linear-gradient(to top left, white, lightblue); 
}

header h3 {
    margin-top: 15px; 
    line-height: 1.2; 
    
}

.title-logo h4{
    font-size: 1.5em;
    line-height: 2.5;
}

.breadcrumb {
    background: transparent;
    border-bottom: 1px solid #ddd;
    
}


.context {
    
    margin-left: -10px;
}

.panel_phone {
    
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -50px;
    width: auto;
    background: transparent;
    border: 0px;
}

.panel_phone h4 {
    font-size: 1.3em;
    color: #d9534f;
}

.panel_phone .panel-body {
    padding: 0px;
    padding-left: 15px;
    
}

.contact {
    font-size: 65%
}

.entry_doctor {
    padding-top: 10px;
}

.footer { font-size: 90%; }

.title-logo {
    margin-left: -25px;
    margin-right: -10px; 
}

.logo img {
    margin-left: -20px;
    margin-right: -20px;
	padding-top: 5px;
	padding-bottom: 5px;
    width: 100%;
    height: auto;
}

.mail {	top: 10px; }

.banner img { padding: 3px; }

.banner img:hover { box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.banner {
    margin-top: 15px;
  	width: 240px;
}

#accordion li { font-size: 88%; }

#carousel-example-generic {
    width: 240px;
    top: 10px;
}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block { font-size:12px }

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons { margin:12px 0 }

#login-dp .social-buttons a { width: 49%; }

#login-dp .form-group { margin-bottom: 10px; }

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px) {

    #login-dp{
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }

    .panel_phone {
        margin-left: 0px;
        margin-right: 0px;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {
  #searchbar {
    width: 150px;
  }
}

@media (min-width: 1200px) {
  #searchbar {
    width: 425px;
  }
}



