.navbar-default {
  top: 20px;
  background: transparent;   	
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: red;
    background: transparent;

}

.main {
	padding-top: 10px;
}

header {
   
   background-image: linear-gradient(to top left, white, lightblue);
   
}

.footer {
	font-size: 90%;
}

.logo img {
	padding-top: 5px;
	padding-bottom: 5px;
    width: 100%;
    height: auto;

}

.enroll {
    top: 30px;
}

.mail {
	top: 10px;
}

.banner img {
	padding: 3px;

    
}

.banner img:hover {
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
 
}



.panel-warning {
	width: 230px;

}




